{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Cvs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcv</th>
                <th>Templateid</th>
                <th>Cvfichier</th>
                <th>Content</th>
                <th>Userid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td><a href="{{ path('cv_show', { 'id': cv.id }) }}">{{ cv.id }}</a></td>
                <td>{{ cv.nomCv }}</td>
                <td>{{ cv.templateId }}</td>
                <td>{{ cv.cvFichier }}</td>
                <td>{{ cv.content }}</td>
                <td>{{ cv.userId }}</td>
                <td>
                    <ul>

                            <a href="{{ path('cv_show', { 'id': cv.id }) }}">  <i class="fi-eye"></i></a>
                    
                            <a href="{{ path('cv_edit', { 'id': cv.id }) }}">  <i class=" dripicons-pencil"></i></a>
                    
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
                    <a href="{{ path('cv_new') }}"class="btn btn-success btn-rounded waves-light waves-effect w-md">Creer template</a>
    </ul>
{% endblock %}
